<div class="container" id="bgimage">
</div>
<div class="login">
<%= simple_form_for(:session, url: login_path,html: {class: 'form-horizontal', multipart: true} ) do |f| %>	
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div class="panel">
				<div class="panel-body">

					<div class="form-group">
						<label class="control-label col-sm-4" for="email" >
							<%= f.label :email %>
						</label>
						<div class="col-sm-8">
							<%= f.text_field :email , class: "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="password" >
							<%= f.label :password %>
						</label>
						<div class="col-sm-8" >
							<%= f.text_field :password , class: "form-control" %>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-4" for="remember_me" %>
							<%= f.label :remember_me %>
						</label>
						<div class="col-sm-2">
							<%= f.check_box :remember_me, class: "form-control" %>
						</div>
					</div>

					<div class="form-group" >
						<div class="col-sm-8 col-md-offset-4" >
							<%= f.submit 'Log In', class: "btn btn-primary" %>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8 col-md-offset-4" >
						<%= link_to "Forgotten your password ?" , new_password_reset_path , class: "btn btn-primary"  %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
</div>


			

	

