<div class="container" id="bgimage">
</div>
<div class="main_content">
	<div class="row">
		<div class="col-sm-4">
			<div class="book">
				<% @user = User.where(auth_token: cookies[:auth_token]).first %>
				<%= image_tag @user.image.url(:medium) %>
			</div>
			
			<div id="user_info">
				<div class="col-md-offset-1">
					<h1><%= @user.first_name %>
						<%= @user.last_name %></h1>
					<h1><%= @user.email %></h1>
				</div>
			</div>
		</div>

		<div class="col-sm-8">
				<% session[:no] = 2 %>
				<%= render @user.reviews %>
		</div>

		<div class="col-sm-8">
			<%= link_to 'Edit', edit_user_path , class: "btn btn-primary" %>
		</div>
	</div>
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>
